<h3>Here are a list of the different genres!</h3>
<ul>
  <li>Pop</li>
  <li>Rock</li>
  <li>Country</li>
  <li>Indie</li>
  <li>Hip Hop</li>
  <li>Classical</li>
  <li>Electronic</li>
  <li>Jazz</li>
  <li>Other</li>
</ul>