<form method="post" action="/songs">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="artist">
  </div>
  <div>
    <label>Posted By:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>YouTube URL:</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>