<% if @song && @song.errors.any? %>
  <div>
    <strong>There are some issues with your message. Please fix the following:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if logged_in %>
  <form method="POST" action="/songs">
    <div>
      <label>Song Title:</label>
      <br>
      <input type="text" name="song_title">
    </div>
    <div>
      <label>Artist:</label>
      <br>
      <input type="text" name="artist">
    </div>
    <div>
      <label>Genre:</label>
      <select name="genre" id= "genre">
        <option value="Pop">Pop</option>
        <option value="Rock">Rock</option>
        <option value="Country">Country</option>
        <option value="Indie">Indie</option>
        <option value="Hip Hop">Hip Hop</option>
        <option value="Classical">Classical</option>
        <option value="Electronic">Electronic</option>
        <option value="Jazz">Jazz</option>
        <option value="Other">Other</option>
      </select>
    <div>
      <label>YouTube URL:</label>
      <br>
      <input type="text" name="url">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
<% else %>
  <p>Sorry, you must be logged in to submit a song.</p>
  <p>No account? No problem! You can make one <a href="../signup">here.</a></p>
<% end %>